In [1]:
import pandas as pd
import numpy as np
import re
import functools as ft

In [2]:
date = "27_04_2023"

In [3]:
df_MG = pd.read_excel(f"D:\SOFIG Documents\Reajustement_MG\Fichiers\SettlementDetailFX_{date}.xlsx", engine="openpyxl")

In [4]:
df_MG

,Unnamed: 0,IMMEUBLE LE GOLFE COLEAH LANSEBOUNDJI C/MATAM,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,CONAKRY BP 160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Settlement Id: 127008157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Business Date: 04/27/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Payment Due Date :,NaN,NaN,NaN,2017-11-13 00:00:00,NaN
4,NaN,Settlement Currency :,NaN,NaN,NaN,NaN,NaN,USD,NaN,Transaction Currency :,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,NaN,NaN,NaN,NaN,NaN,FRAUD WARNING:,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,NaN,NaN,NaN,NaN,NaN,MoneyGram will never call you to ask you to se...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1584,NaN,NaN,NaN,NaN,NaN,The only time you will be asked for this infor...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1585,NaN,NaN,NaN,NaN,NaN,For Questions Please Contact: 1-800-444-3010,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_MG_array = np.array(df_MG)

In [6]:
df_MG_array

array([[nan, 'CONAKRY  BP 160', nan, ..., nan, nan, nan],
       [nan, 'GN', nan, ..., nan, nan, nan],
       [nan, 'Settlement Id: 127008157', nan, ..., nan, nan, nan],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [7]:
# print(df_MG_array[1055].tolist())

In [8]:
df_MG_2 = pd.DataFrame(df_MG_array)

In [9]:
df_MG_2

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,NaN,CONAKRY BP 160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,GN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Settlement Id: 127008157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Business Date: 04/27/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Payment Due Date :,NaN,NaN,NaN,2017-11-13 00:00:00,NaN
4,NaN,Settlement Currency :,NaN,NaN,NaN,NaN,NaN,USD,NaN,Transaction Currency :,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,NaN,NaN,NaN,NaN,NaN,FRAUD WARNING:,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,NaN,NaN,NaN,NaN,NaN,MoneyGram will never call you to ask you to se...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1584,NaN,NaN,NaN,NaN,NaN,The only time you will be asked for this infor...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1585,NaN,NaN,NaN,NaN,NaN,For Questions Please Contact: 1-800-444-3010,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_MG_3 = df_MG_2.fillna(0)

In [11]:
df_MG_3

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,0,CONAKRY BP 160,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
1,0,GN,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
2,0,Settlement Id: 127008157,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
3,0,Business Date: 04/27/2023,0,0,0,0,0,0,0,0,...,0,0.0,0,0,Payment Due Date :,0,0.0,0,2017-11-13 00:00:00,0
4,0,Settlement Currency :,0,0,0,0,0,USD,0,Transaction Currency :,...,0,0.0,0,0,0,0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
1582,0,0,0,0,0,FRAUD WARNING:,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
1583,0,0,0,0,0,MoneyGram will never call you to ask you to se...,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
1584,0,0,0,0,0,The only time you will be asked for this infor...,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0
1585,0,0,0,0,0,For Questions Please Contact: 1-800-444-3010,0,0,0,0,...,0,0.0,0,0,0,0,0.0,0,0,0

In [12]:
# # For verification purpose
# df_MG_3.to_excel("test4.xlsx")

In [23]:
# Let get all list of all agences indexes from the dataframe df_MG_3
lst_MG_idx = df_MG_3[df_MG_3[4] == "Legacy ID : "][8].tolist()
print(lst_MG_idx)

['715353', '715354', '715356', '715358', '715359', '715361', '715362', '715364', '715366', '717256', '717289', '717291', '717296', '717300', '717302', '717309', '717310', '717314', '717315', '717316', '717318', '717319', '717320', '717322', '717323', '717324', '717326', '717327', '717328', '717329', '717330', '717332', '717335', '717336', '711433', '711434', '711437', '711438', '711439', '711442', '464570', '466424', '549388', '577015', '674762', '730750', '799132', '715353', '715355', '715356', '715359', '715360', '715361', '715362', '715368', '717256', '717289', '717291', '717300', '717302', '717308', '717309', '717310', '717314', '717315', '717316', '717318', '717320', '717322', '717324', '717325', '717327', '717328', '717329', '717332', '717335', '717336', '711433', '711434', '711436', '711438', '711439', '464570', '466424', '466434', '549388', '577015', '674760', '674762', '799132', '715353', '715354', '715356', '715358', '715359', '715361', '715362', '715364', '715366', '717256', '717289', '717291', '717296', '717300', '717302', '717309', '717310', '717314', '717315', '717316', '717318', '717319', '717320', '717322', '717323', '717324', '717326', '717327', '717328', '717329', '717330', '717332', '717335', '717336', '711433', '711434', '711437', '711438', '711439', '711442', '464570', '466424', '549388', '577015', '674762', '730750', '799132', '715353']

In [ ]:
# Let get the list of all amount corresponding to REC in the dataframe df_MG_3